<div id='edit_courier'>
<h1>Add driver license for courier <%= @courier.id%> </h1>

<%= form_with model: @courier, url: courier_path, method: :patch do |f| %>
  <div>
    <%= f.label "Driver license:" %><br>
    <%= f.file_field :driver_license, multiple: false, direct_upload: true %>
  </div>
  <%= f.submit 'Add driver license' %>
<% end %>
</div>
